#simplescheduler-operation-wrapper {clear: both; width: 100%; float: left;}
#simplescheduler-operation-wrapper .container-inline-date {float: left; clear: left;}
#edit-addoperations {clear: both;}
.simplescheduler-operation {width: 100%; clear: both; float:left;}

#simplescheduler-operation .form-item {float:left;}